.level_container {
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}
.level {
    color: var(--black);
}
.cours {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: auto;
    margin: 1rem;
}
.event_tab {
    margin-top: 1rem;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: solid 3px var(--black);
    text-align: center;
}
th,
td {
    border: 3px solid var(--black);
}
.cours table thead {
    background-color: var(--dark-color);
    border: solid 2px var(--black);
}
td:nth-child(1) {
    color: var(--black);
    font-weight: 900;
}

.noEvent {
    color: red;
    align-self: center;
}
.gallery {
    justify-content: center;
    gap: 2rem;
}
.actu {
    width: 40%;
    margin: 2rem;
}
form {
    width: 100%;
    display: flex;
    justify-content: end;
}
.supp {
    background-color: var(--light-color);
    margin: 1rem;
    padding: 1rem;
    width: 100%;
    border-radius: 1rem;
    border: none;
    font-size: medium;
    font-weight: 600;
    color: var(--black);
}
.no-background {
    background: var(--dark-color);
}
.actu_gallery {
    flex-direction: column;
}
.gallery_col {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
